@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

::selection {
  color: white;
  background: #000000;
}

@font-face {
  font-family: "Zodiak";
  src: url("../src/assets/fonts/Zodiak-Variable.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src: url("../src/assets/fonts/Zodiak-VariableItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../src/assets/fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../src/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Erode";
  src: url("../src/assets/fonts/Erode-Variable.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Erode";
  src: url("../src/assets/fonts/Erode-VariableItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}